/* Home.css */
.home {
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
  }
  
  .background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .content {
    z-index: 1;
    margin-top: 2rem;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #61dafb; /* Color azul claro */
    font-weight: bold;
  }
  
  p {
    font-size: 1.5rem;
    color: #555;
  }

/* ... tus estilos anteriores ... */

.two-column-container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .two-column-container .column {
    flex: 1;
  }
  
  .two-column-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  /* ... tus estilos anteriores ... */
  
