/* Home.css */
header {
    background-color: transparent;
    color: black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    width: 150px; /* Ajusta el tamaño según tu preferencia */
    height: auto;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    margin: 0 1rem;
    transition: color 0.3s ease;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #76b6ea;
  }
  